/* TextAndOneImage style */
.acMobileLayout {
  border: 1px solid #001E00;
  background-color: #161B22;
  border-radius: 15px;
  width: 6.5in;
  height: 7in;
  margin: 40px 40px 0px 0px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.acMobileLayout:hover {
  background-color: #001E00
}

.acMobileImage {
  width: 100%;
  height: auto;
}

/* TextWithLink style */
.acMobileSecondLayout {
  text-align: initial;
  margin: 16px;
}

.acMobileH2 {
  font-size: 25px;
  line-height: 37px;
  width: 482px;
  color: #6E7681;
}

.acMobileSpan {
  color: white;
}

.acMobileLink {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  padding-top: 10px;
  font-size: 24px;
  text-decoration: none;
  cursor: text;
}

.acMobileLink:hover {
  text-decoration: underline;
}

