/* flexbox for both tabs */
.flexTab {
  display: flex;
  flex-direction: row;
}

/* TextAndOneImage style - for GitHub-Actions tab */
.actionLayout {
  border: 1px solid #001E00;
  background-color: #161B22;
  border-radius: 15px;
  width: 6.5in;
  height: 7in;
  margin: 40px 40px 0px 0px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
} 

.actionLayout:hover {
  background-color: #001E00
} 

.actionImage {
  width: 100%;
  height: auto;
}

.actionSecondLayout {
  text-align: initial;
  margin: 28px;
} /* TextWithLink style */

/* TextAndOneImage style - for GitHub-Mobile tab */
.mobileLayout {
  border: 1px solid #001E00;
  background-color: #161B22;
  border-radius: 15px;
  width: 6.5in;
  height: 7in;
  margin-top: 40px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mobileLayout:hover {
  background-color: #001E00
}

.mobileImage {
  width: 110%;
  height: auto;
}

.mobileSecondLayout {
  text-align: initial;
  margin: 41px;
} /* TextWithLink style */

/* TextWithLink style - for both tabs */
.acMobileH2 {
  font-size: 25px;
  line-height: 37px;
  width: 482px;
  color: #6E7681;
}

.acMobileSpan {
  color: white;
}

.acMobileLink {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  padding-top: 10px;
  font-size: 24px;
  text-decoration: none;
  cursor: text;
}

.acMobileLink:hover {
  text-decoration: underline;
}

