.mainLayout {
  background-image: url(/public/images/hero-bg.png);
  background-size: cover;
}

.contentOne {
  padding: 110px 100px 0px 100px;
}

.spaceShift {
  width: 20%;
  height: 20%;
}

.flexLayoutOne {
  display: flex;
  flex-direction: row;
  position: relative;
}

.flexImage {
  position: absolute;
}

.contentOnePortion {
  margin: 280px 0px 0px 70px;
}

.spaceApart {
  padding-top: 150px;
}

