.flexLayoutOne {
  display: flex;
  flex-direction: row;
  position: relative;
}

.flexImage {
  position: absolute;
}

.contentOnePortion {
  margin: 280px 0px 0px 70px;
}

.spaceApart {
  padding-top: 160px;
}

.producSpan {
  color: #7ee787;
}