/* flexbox for both tabs */
.disPullFlexTab {
  display: flex;
  flex-direction: row;
}

/* TextAndOneImage style - for GitHub-Discussions tab */
.discussLayout {
  border: 1px solid #001E00;
  background-color: #161B22;
  border-radius: 15px;
  width: 6.5in;
  height: 7in;
  margin: 40px 40px 0px 0px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
} 

.discussLayout:hover {
  background-color: #512622
} 

.discussImage {
  width: 100%;
  height: auto;
}

.discussSecondLayout {
  text-align: initial;
  margin: 57px;
} /* TextWithLink style */

/* TextAndOneImage style - for GitHub-Pull-Requests tab */
.pullLayout {
  border: 1px solid #001E00;
  background-color: #161B22;
  border-radius: 15px;
  width: 6.5in;
  height: 7in;
  margin-top: 40px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pullLayout:hover {
  background-color: #512622
}

.pullImage {
  width: 100%;
  height: auto;
}

.pullSecondLayout {
  text-align: initial;
  margin: 57px;
} /* TextWithLink style */

/* TextWithLink style - for both tabs */
.disPullH2 {
  font-size: 25px;
  line-height: 37px;
  width: 482px;
  color: #88888D;
}

.disPullSpan {
  color: white;
}

.disPullLink {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  padding-top: 10px;
  font-size: 24px;
  text-decoration: none;
  cursor: text;
}

.disPullLink:hover {
  text-decoration: underline;
}

