.mainLayout {
  background-image: url(/public/images/hero-bg.png);
  background-size: cover;
}

.contentStyle {
  padding: 110px 100px 100px 100px;
}

.contentSpaceApart {
  padding-top: 80px;
}

.issueImage {
  width: 1280px;
  height: 768px;
}

.footer {
  background-image: url(/public/images/footer-galaxy.jpg);
  background-size: cover;
}