.branchLayout {
  text-align: initial;
  width: 900px;
  margin: 15px;
}

.h2 {
  color: white;
  font-size: 24px;
}

.span {
  color: #7ee787;
}

.h3 {
  color: white;
  font-size: 48px;
  margin: 25px 0px 0px 0px;
}