.knowLayout {
  text-align: initial;
  padding: 30px;
}

.knowLinkStyle {
  border: 1px solid #7ee787;
  color: #7ee787;
  font-weight: bold;
  width: 580px;
  height: 93px;
  border-radius: 15px;
  font-size: 14px;
  padding: 6px;
}

.knowH2 {
  color: #7ee787;
  margin: 10px 0px;
  font-size: 70px;
}

.knowH3 {
  font-size: 19px;
  line-height: 1.5;
  color: white;
  margin: 15px 0px;
}