.linkLayout {
  text-align: initial;
  margin: 15px;
}

.linkSpan {
  color: white;
}

.linkH2 {
  font-size: 25px;
  line-height: 37px;
  width: 570px;
  color: #6E7681;
}

.linkStyle {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  padding-top: 10px;
  font-size: 24px;
  text-decoration: none;
  cursor: text;
}

.linkStyle:hover {
  text-decoration: underline;
}