.linkLayout {
  background-color: black;
  text-align: initial;
  width: 526px;
  margin: 15px;
}

.linkSpan {
  color: white;
}

.linkH2 {
  font-size: 24px;
  line-height: 32px;
  color: #6E7681;
}

.linkStyle {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  padding-top: 10px;
  font-size: 20px;
  text-decoration: none;
  cursor: text;
}

.linkStyle:hover {
  text-decoration: underline;
}